{% extends 'course/basic_page.html' %}
{% block course_active %}active{% endblock %}
{% block body %}

<center>
    <h2 class="text-primary" style="font-size: 80px; margin-left:-10px;"> {{user.username}} </h2>
</center>
<div style="font-size: 25px; margin-left: 2cm;">
    <ul>
        <li> Name : {{ student.name }} </li>
        <li> Roll Number : {{ student.roll_no }} </li>
        <li> Email Address : {{user.email}} </li>
        <li>
            Courses enrolled in :- 
        </li>
    </ul>
</div>
<div class="container">
    <table style="width:100%">
        <tr>
            <th> <h4 style="font-weight: bold; text-align: center;"> Course Code </h4> </th>
            <th> <h4 style="font-weight: bold; text-align: center;"> Course Name </h4> </th>
            <th> <h4 style="font-weight: bold; text-align: center;"> Course Instructor </h4> </th>
        </tr>
        {% for course in courses %}
        <tr>
            <th> <p style="padding-left: 10px;"> {{ course.code }} </p> </th>
            <th> <p style="padding-left: 10px;"> {{ course }} </p> </th>
            <th> <p style="padding-left: 10px;"> {{ course.instructor }} </p> </th>
        </tr>
        {% endfor %}
    </table>  
</div>      
{% endblock %}
