{% extends 'TA/TA_basic_page.html' %}
{% block title %}{{ course }}{% endblock %}
{% block albums_active %}active{% endblock %}
{% block body %}
<br>
<div class="container-fluid songs-container">

    <div class="row">
        <!-- Left Album Info -->
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default">
                {% if course in courses %}
                <div class="panel-body" style="background-color: #e3f0e8;border: 0px solid #66cdaa;">
                    <a href="{% url 'TA:TA_detail' course.id %}">
                        {% if course.course_logo %}
                            <img src="{{ course.course_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1 align="center">{{ course.code }}<br> <small>{{ course.name }}</small></h1>
                    <h2 align="center">{{ course.instructor }}</h2>
                </div>
            </div>
        </div>

        <div class="col-sm-9"style="color:white;">
            <div class="col-sm-2">
                <a href="{% url 'TA:TA_add_assignment' course.id %}">
                    <button type="submit" class="btn btn-success"style="font-size: larger;padding-left: 20px;margin-left:0px">Add assignment</button>
                </a>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <a href="{% url 'TA:TA_add_resource' course.id %}">
                    <button type="submit" class="btn btn-success"style="font-size: larger;margin-left:0px">Add a resource</button>
                </a>
            </div>
            <div class="col-sm-1" style="margin-left: 70px;"></div>
            <div class="col-sm-1">
                <a href="{% url 'TA:TA_add_notification' course.id %}">
                    <button type="submit" class="btn btn-success"style="font-size: larger;margin-left:0px">Notify Students</button>
                </a>
            </div>
            <div class="col-sm-1" style="margin-left: 70px;"></div>
            <div class="col-sm-2">
                <a href="{% url 'TA:TA_send_invite' course.id%}">
                    <button type="submit" class="btn btn-success"style="font-size: larger;margin-left:0px">Send Email Invitation</button>
                </a>
            </div>
            <br><br><br>

            <div class="col-sm-10" style=" position:fixed-right;overflow-y: scroll; height:650px;border: 3px solid #66cdaa;background-color:#e3f0e8;color:black;font-family: 'Abhaya Libre';font-size:16px; margin-left: 50px;">
                <h1 style="text-align:center;font-family:Volkhov,cursive;font-size:40px;color: #728892"> Forum </h1>
                <br>
                 <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="course" value="{{ course }}">
                    {% for field in form %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-danger small">{{ field.errors }}</span>
                        </div>
                    <div class="col-sm-10" style="color: black; margin-left: 100px;">{{ field }} <br>
                        <div style="margin-left: 270px; margin-top: 40px;"> 
                            <button type="submit" style="margin-left:20px" class="btn btn-success btn-lg">Send</button>
                        </div>
                    </div>
                    </div>
                    {% endfor %}


                </form>
    {% for message in messages reversed %}
        <br>
                <div style="background-color:#CDD8CD; border-radius:2%;padding:10px; margin:5px">
                    <b>{{ message.sender }}</b><br>
                    <div style="font-size:12px;">{{ message.time }}</div>
                    {{ message.content }}<br>
                </div>
    {% endfor %}
        </div><br><br><br>
        </div><br><br><br>
    </div><br><br><br>
</div>
{% else %}
    You are not enrolled in this course
{% endif %}
{% endblock %}