
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Log In{% endblock %}</title>
    {% load static %}
    <!--<link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Frijole' rel='stylesheet'>
    <!--<script src="{% static 'music/js/main.js' %}"></script>-->
<style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #000000, #000000);
  background: -moz-linear-gradient(right, #000000, #000000);
  background: -o-linear-gradient(right, #000000, #000000);
  background: linear-gradient(to left, #000000, #000000);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>


<script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>

</head>
{% block body %}
  <!--Password Reset Complete-->
    <div class="container p-4">
	    <h1 class="font-weight-bold mt-3" style="color: white;">Password reset complete</h1>
		<hr>
      <h4 style="color: white;"> Your password has been reset. You may go ahead and log in now.</h4>                 
      <a href="/login" class="btn btn-primary"> Login </a>
    </div>
{% endblock %}