
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Log In{% endblock %}</title>
    {% load static %}
    <!--<link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Frijole' rel='stylesheet'>
    <!--<script src="{% static 'music/js/main.js' %}"></script>-->
<style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #000000, #000000);
  background: -moz-linear-gradient(right, #000000, #000000);
  background: -o-linear-gradient(right, #000000, #000000);
  background: linear-gradient(to left, #000000, #000000);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>


<script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>

</head>
{% block body %}
	<!--Password reset sent-->
	<div class="container p-5">
  	<h1 class="font-weight-bold mt-3" style="color: white;">Password reset sent</h1>
		<hr>
		<h4 style="color: white;">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br><br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</h4>
  </div>

{% endblock %}
